body {
  font-family: 'Raleway', sans-serif;
}

img {
  width: 300px;
  padding: 35px;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

ul {
  width: 75%;
  margin: auto;
  font-size: large;
  text-align: justify;
  list-style: none;
}